<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/ivoc.css?v=3" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">

        function display_menu(position, word)
        {
            console.log(position);
            $('#popup').css('top', position.top);
            $('#popup').css('left', position.left);
            $('#popup').css('display', 'block');
            $('#popup .menu-item').attr('data-word', word);
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {

            $('.word').click(function(e) {
                console.log($(this).text());
                display_menu($(this).position(), $(this).attr('data-word'));
            });

            $('#menu-cancel').click(function() {
                $('#popup').hide();
            });

            $('.menu-item').click(function(event) {
                console.log($(this).attr('data-status'));
                console.log($(this).attr('data-word'));

                var payload = JSON.stringify({"word": $(this).attr('data-word'),
                                              "status": $(this).attr('data-status'),
                                              "source": $(document).find("title").text()});

                $.ajax({url: "/api/update",
                        type: "POST",
                        data: payload,
                        contentType: "application/json",
                        dataType: "json"
                }).done(function(data) {
                    console.log(data);
                    $('#popup').hide();
                    $('span[data-word=' + data['word'] + ']').attr('data-status', data['class']);
                });
            });
        });
    </script>
</head>
<body>
    <div id="popup">
        <ul>
            <li class="menu-item" data-status="Y">I KNOW this word</li>
            <li class="menu-item" data-status="U">I DON'T KNOW this word</li>
            <li class="menu-item" data-status="N">This is a NAME</li>
            <li class="menu-item" data-status="W">This is not a WORD</li>
            <li id="menu-cancel">Cancel</li>
        </ul>
    </div>
    {{ contents|safe }}
</body>
</html>